@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Nunito:400,400i|Pacifico');
:root {
    --accent: #33d9b2;
}

body {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}

a {
    color: #2C3A47
}

a:hover,
.btn-secondary:hover {
    text-decoration: none;
    color: var(--accent);
}

.jumbotron {
    background: #fff;
}

.jello-brand {
    font-family: 'Pacifico', sans-serif;
}

.found-brand {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    letter-spacing: 4px;
}

.btn-secondary {
    border-radius: 30px;
}

.fa-wrench {
    animation: fa-wrench-spin infinite 10s linear;
}

.title-text {
    font-family: 'Cabin Sketch', sans-serif;
}

@keyframes fa-wrench-spin {
    0% {
        transform: rotate(0deg);
        color: #fff;
    }
    50% {
        color: var(--accent);
    }
    100% {
        transform: rotate(360deg);
        color: #fff;
    }
}